Repository treyhunner/pyrepl-hacks: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, rumdl-format, mypy-check

ruff-format:
  name: Format with ruff
  entry: uv run --group lint ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: Lint with ruff
  entry: uv run --group lint ruff check
  language: system
  pass_filenames: false

rumdl-format:
  name: Format markdown with rumdl
  entry: uv run --group lint rumdl fmt --fix
  language: system
  pass_filenames: false

mypy-check:
  name: Type check with mypy
  entry: uv run --group typecheck mypy pyrepl_hacks
  language: system
  pass_filenames: false

Add more project metadata 🗃️
  pyproject.toml
Due: none

Run tests on commit ✅
  .pre-commit-config.yaml
  justfile
Due: none

Document the pip install target & sys.path trick ♟️
  README.md
Due: rumdl-format

Add docstrings 📜
  pyrepl_hacks/__init__.py
  pyrepl_hacks/bind_utils.py
  pyrepl_hacks/command_utils.py
  pyrepl_hacks/key_utils.py
  pyrepl_hacks/theme_utils.py
Due: ruff-format, ruff-check, mypy-check

Improve installation explanation 🧭
  README.md
Due: rumdl-format

Complain on attempts to use unsupported key combos ❗
  pyproject.toml
  pyrepl_hacks/key_utils.py
  tests/test_bind_utils.py
  tests/test_key_utils.py
Due: ruff-format, ruff-check, mypy-check

New version 🧆
  pyproject.toml
  uv.lock
Due: none

Allow Ctrl+Up and Ctrl+Down bindings
  README.md
  pyrepl_hacks/key_utils.py
  tests/test_key_utils.py
Due: ruff-format, ruff-check, rumdl-format, mypy-check

Bump version (Ctrl+Up & Ctrl+Dwon support!) 🦔
  pyproject.toml
  uv.lock
Due: none

Add commands for previous/next paragraphs
  README.md
  pyrepl_hacks/commands.py
  tests/support.py
  tests/test_commands.py
Due: ruff-format, ruff-check, rumdl-format, mypy-check

Seed the uv venv
  justfile
Due: none

Bump version to 0.4.0
  pyproject.toml
  uv.lock
Due: none

Clear old builds
  justfile
  pyproject.toml
Due: none

Add `--upgrade` to `pip install` command
  README.md
Due: rumdl-format

Fix syntax on Python 3.11 & older (type statement) 🚲️
  pyrepl_hacks/_types.py
Due: ruff-format, ruff-check, mypy-check

Bump version 🪂
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  rumdl-format: any of: \.(md|markdown|mdown)$
  mypy-check: any of: \.py$
